//-------------FOOTER--------------//

.footer {
  overflow: hidden;
  position: $pos-1;
  background-image: url(/assets/img/footer_background.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .footer__container {
    @include container($wth-5, $mg-14, $pd-14, 0);
    .contact__row {
      @include horizontalLayout($dpl-1, $flx-d-1, $adj-7);
      justify-content: $adj-1;
      max-width: $wth-6;
      .contact__row__cell {
        @include verticalLayout($dpl-1, $flx-d-2, 0, 0, 0, $pd-16);
        justify-content: $adj-7;
        margin-bottom: $mg-13;
        align-items: $adj-7;
        text-align: $adj-4;
        width: $wth-10;
        .cell__header {
          text-align: $adj-1;
          h5 {
            @include heading($fs-10, $white-1, $fw-4, $mg-7, $f-2);
            line-height: $l-ht-7;
            margin: 0;
          }
        }
        .cell__content {
          margin: $mg-7 0;
          .cell__content__contact {
            padding-right: $pd-15;
            line-height: $l-ht-9;
            display: $dpl-1;
            flex-direction: $flx-d-1;
            justify-content: $adj-7;
            align-items: $adj-1;
            max-width: $wth-6;
            i {
              font-size: $fs-7;
              color: $white-1;
            }
            p {
              font-size: $fs-4;
              padding-left: $pd-3;
              margin: 0;
              color: $white-1;
            }
          }
        }
        .cell__content :nth-child(2) {
          margin: $mg-16 0;
        }
        .cell__content__social {
          line-height: $l-ht-9;
          a {
            margin-right: $mg-16;
            i {
              color: $white-1;
            }
          }
        }
        .cell__links {
          margin-top: $mg-7;
          width: 100%;
          ul {
            margin: 0;
            padding: 0;
            li {
              list-style-type: none;
              line-height: $l-ht-9;
              padding: $pd-5 0;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              max-width: 100%;
              a {
                color: $white-1;
                margin: 0;
                padding: 0 !important;
                font-size: $fs-4;
              }
            }
          }
          ul :nth-child(1) {
            padding-bottom: $pd-5;
            padding-top: 0;
            text-decoration: none;
            transition: all 200ms ease;
          }
        }
        .cell__buttons {
          margin: $mg-10 0 $mg-13 0;
          width: $wth-6;
          input {
            margin-bottom: $mg-3;
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all 500ms ease;
            border-radius: $bd-r-3;
            outline: none;
            width: $wth-6;
            background: $transparent;
            line-height: $l-ht-9;
            display: $dpl-2;
            padding: $pd-15;
            color: $white-1;
            font-size: $fs-4;
          }
          ::placeholder {
            color: $white-1;
            text-align: center;
            font-size: $fs-4;
          }
          
        }
        .cell__buttons :nth-child(2) {
            box-shadow: 0 0 0 36px $white-1 inset;
            color: $black-1;
            width: $wth-6 !important;
            font-size: $fs-2;
            font-weight: $fw-3;
            letter-spacing: 1px;
            background: $transparent;
            font-family: $f-2;
        }
      }
    }
  }
}
