//COLORS

$black-1: #181818;
$black-2: #191919;
$black-3: rgba(0, 0, 0, 0.1);
$white-1: #fff;
$white-2: #dcd1f3;
$light-1: rgba(255, 255, 255, 0.1);
$shadow: rgba(204, 204, 204, 0.5);
$transparent: transparent;
$pink: #b61984;
$yellow: #ffd043;

//SPACING

//Padding

$pd-1: 6.75px;
$pd-2: 7.5px;
$pd-3: 10.8px;
$pd-4: 14.85px;
$pd-5: 12px;
$pd-6: 20.25px;
$pd-7: 20px;
$pd-8: 25px;
$pd-9: 30px;
$pd-10: 36px;
$pd-11: 42px;
$pd-12: 50px;
$pd-13: 60px;
$pd-14: 120px;
$pd-15: 15px;
$pd-16: 40px;

//Margin

$mg-1: 4px;
$mg-2: 6px;
$mg-3: 7.875px;
$mg-4: 8.25px;
$mg-5: 11.7px;
$mg-6: 20px;
$mg-7: 30px;
$mg-8: 35px;
$mg-9: 40px;
$mg-10: 45px;
$mg-11: 50px;
$mg-12: 60px;
$mg-13: 80px;
$mg-14: auto;
$mg-15: -30px;
$mg-16: 15px;


//WIDTH

$wth-1: 8px;
$wth-2: 80px;
$wth-3: 150px;
$wth-4: 1000px;
$wth-5: 1260px;
$wth-6: 100%;
$wth-7: 50%;
$wth-8: 58.33%;
$wth-9: 41.66%;
$wth-10: 25%;
$wth-11: 320px;

//HEIGHT

$ht-1: 8px;
$ht-2: 44.3906px;
$ht-3: 48px;
$ht-4: 80px;
$ht-5: 90px;
$ht-6: 100%;

//line-height

$l-ht-1: 13.5px;
$l-ht-2: 18px;
$l-ht-3: 37.2px;
$l-ht-4: 38px;
$l-ht-5: 48px;
$l-ht-6: 80px;
$l-ht-7: 1.8rem;
$l-ht-8: 27.9px;
$l-ht-9: 15px;

//Border-Radius

$bd-r-1: 10px;
$bd-r-2: 20px;
$bd-r-3: 50px;

//FONTS

//Fonts

$f-1: 'Roboto', sans-serif;
$f-2: 'Montserrat', sans-serif;


//Font-size

$fs-1: 11.7px;
$fs-2: 12px;
$fs-3: 13px;
$fs-4: 13.5px;
$fs-5: 14px;
$fs-6: 14.625px;
$fs-7: 15px;
$fs-8: 0.75rem;
$fs-9: 1.1rem;
$fs-10: 1.55rem;
$fs-11: 2.5rem;
$fs-12: 3.8rem;

//Font-weight

$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

//DISPLAY

$dpl-1: flex;
$dpl-2: block;
$dpl-3: inline-block;

//flex

$flx-d-1: row;
$flx-d-2: column;

//Align and Justify

$adj-1: center;
$adj-2: start;
$adj-3: end;
$adj-4: left;
$adj-5: right;
$adj-6: flex-end;
$adj-7: flex-start;
$adj-8: space-around;
$adj-9: space-between;

//Position 

$pos-1: relative;
$pos-2: absolute;
$pos-3: fixed;
$pos-4: sticky;

